@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

    body {
        font-family: "Aldrich", sans-serif;
        margin: 0;
        padding: 0;
        background-color: white; 
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    section {
        text-align: center;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #f9f9f9; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    h1 {
        margin-bottom: 20px;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    input[type="text"],
    input[type="submit"] {
        margin: 10px 0;
        padding: 10px;
        width: 200px; 
        max-width: 100%; 
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    
    input[type="submit"] {
        background-color: #6acfc7; 
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    input[type="submit"]:hover {
        background-color: #5bb5af; 
    }
    
