body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6acfc7;
    color: white;
    text-align: center;
    padding: 20px 0;
}

section {
    padding: 20px;
    text-align: center;
}

button {
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e6400c;
}

.producto1,
.producto2 {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    max-width: 300px; /* Tamaño máximo de los productos */
    text-align: center;
    background-color: #fff; /* Fondo blanco */
}

.producto1 img,
.producto2 img {
    max-width: 100%; /* Ajustar el tamaño de la imagen al 100% del contenedor */
    height: auto; /* Altura automática */
}

img.b{
    width: 30px;
    height: 30px;
}

@media (min-width: 768px) {
    /* Cuando la pantalla tiene un ancho mínimo de 768px */
    .d-flex {
        display: flex;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .justify-content-center {
        justify-content: center;
    }

    .producto1,
    .producto2 {
        width: calc(50% - 40px); /* Divide en dos columnas con un margen de 40px */
        max-width: none; /* Elimina el tamaño máximo para dispositivos grandes */
    }

    footer {
        background-color: #6acfc7;
        color: white;
        text-align: center;
        padding: 20px 0;
    }

    .nav {
        display: inline-block;
        padding: 10px;
    }

    .nav a {
        margin: 0 10px;
    }

}